* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.backgroundImage {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.NETFLIX {
    margin-top: 60px;
}

.NETFLIX h1 {
    padding-left: 60px;
}

.notbook {
    height: 290px;
    width: 200px;

    border-radius: 10px;

}

.notbook img {
    height: 100%;
    width: 100%;


    gap: 50px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}


#Netflix {

    margin-top: 10px;
    display: flex;

    gap: 20px;
    padding: 50px;

    overflow-x: scroll;
    overflow-y: hidden;

}


::-webkit-scrollbar {
    display: none;
}

#trending {

    margin-top: 10px;
    display: flex;

    gap: 20px;
    padding: 50px;

    overflow-x: scroll;
    overflow-y: hidden;

}

#topRated {

    margin-top: 10px;
    display: flex;
    align-items: center;

    gap: 20px;
    padding: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#Netflix, #trending, #topRated, #ActionMovie,#ActionMovie,#fetchActionMovies,#ComedyMovies,#HorrorMovies,#fetchRomanceMovies,#Documentaries{

    margin-top: 10px;
    padding: 50px;
    display: flex;
    align-items: center;

    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.h1 {
    padding: 30px;
}


.navbar {
    background: rgba(35, 34, 34, 0.51);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    position: fixed;
    top: 0;
    transition: all .45s ease-in;
    width: 100%;
    z-index: 2;

}

.logo {
    width: 120px;
}




.content {
    width: 700px;
    font-weight: 800;
    font-size: 20px;
    color: whitesmoke;
    margin-left: 40px;
}

.content h1 {
    margin-bottom: 1rem;
    font-size: 48px;
}

.btn {
    margin-bottom: 1rem;
}

.btn button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 15px 50px 15px 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}


.btn :hover {
    color: black;
    background-color: aliceblue;
}






@media screen and (min-width: 320px) and (max-width: 570px) {
    .navbar {
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 80px;
        height: 30px;
    }

    .emoji {
        width: 30px;
    }

    .content {
        width: 90%;
    font-size: 2px;
    }
.content p{
    width:240px;
    font-size: 15px;
    font-weight: 200px;
}
    .content h1 {
        font-size: 3rem;
    }

    .btn button {
        padding: 3px 10px;
        font-size: 10px;
    }

    .NETFLIX h1, .notbook img {
        font-size: 1.5rem;
        padding-left: 10px;
    }

    #Netflix, #trending, #topRated, #ActionMovie,#ActionMovie,#fetchActionMovies,#ComedyMovies,#HorrorMovies,#fetchRomanceMovies,#Documentaries {
        gap: 10px;
        padding: 20px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .notbook {
        height: 250px;
        width: 160px;
    }

    .content {
        top: 30%;
        font-size: 1.5rem;
    }

    .btn {
        margin-top: 1rem;
    }
}